.twilio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
.twilio input {
  width: 90%;
}
.twilio button {
  background-color: #2d3fb2;
  border: none;
  color: white;
  height: auto;
  width: 90%;
  font-size: 15px;
  border-radius: 25px;
}
