.display-container {
  /* border-bottom: 1px solid black; */

  justify-content: center;
  align-items: center;

  margin: 5px;
  padding: 5px;
}
.display-image img {
  width: 250px;
}

.display-date {
  font-size: 13px;
  font-style: italic;
  color: #5169ff;
}

.display-title {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.display-user {
  text-decoration: none;
  font-size: 12px;
}
.buttons-container1 {
  width: 100%;
}

.buttons-container1 .delete-button {
  background-color: white;
  border: 1px solid #7fb25b;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5%;
  width: 110px;
  padding: 5px;
  margin: auto 2px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}
.buttons-container1 .edit-button {
  background-color: #7fb25b;
  border: 1px solid #7fb25b;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5%;
  width: 110px;
  padding: 5px;
  margin: auto 2px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}
