.product-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  align-items: center;
  flex: wrap;
  margin: 5px;
}
.product-display-image {
  display: flex;
}
.product-display-image img {
  padding: 1px;
  width: 100%;
  margin: 0;
}
.product-display-name {
  padding: 10 10px;
  display: flex;
  font-weight: bold;
}
.product-display-price {
  padding: 0 10px;
  display: flex;
  /* padding-bottom: 10px; */
}
