.product-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  align-items: center;
  flex: wrap;
}
.product-display-image {
  display: flex;
}
.product-display-image img {
  width: 100%;
}
.product-display-name {
  padding: 10 10px;
  display: flex;
  font-weight: bold;
}
.product-display-price {
  padding: 0 10px;
  display: flex;
  /* padding-bottom: 10px; */
}
