.dashboard-banner {
  background-image: url("./tori.jpg");
  z-index: 0;
  color: white;
  font-size: 45px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  padding: 20px;
  width: 100%;
  min-height: 250px;
}
.create-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0 0 0;
  margin: 5px 0 0 0;
  height: 30px;
}
.create-new button {
  background-color: #7fb25b;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5%;
  width: 100%;
  margin: 10px;
  padding: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}
.ALL-POSTS-CONTAINER {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.your-trips {
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.your-feed {
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}
.your-news {
  width: 30%;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.news-api img {
  width: 50%;
  width: 200px;
}
.news-api .article-title {
  font-size: 20px;
}
.news-api .article-date {
  font-size: 12px;
}

.news-api .article-description {
  font-size: 12px;
}
.BLAH {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}
