.the-entire-dashboard {
  width: 100%;
  background-color: rgb(240, 240, 240);
  font-family: "Arimo", sans-serif;
}
.dashboard-banner {
  padding-top: 50px;
  background-image: url("./tori.jpg");
  z-index: 0;
  color: white;
  font-size: 45px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  width: 100%;
  min-height: 250px;
}
.ALL-POSTS-CONTAINER {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.dashboard-banner h2 {
  font-size: 60px;
  font-weight: bold;
}
.create-new {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px auto;
  margin: 5px;
  height: 40px;
}
.create-new button {
  background-color: #2d3fb2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}

/* .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.search-bar input {
  font-size: 18px;
  width: 200px;
  height: 30px;
}
.search-bar button {
  padding-left: 2px;
} */
.title-of-feed-container h3 {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #7fb25b;
  margin-top: 20px;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.your-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 30px;
}

.your-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 30px;
}

.your-news {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holding-all-news {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.your-news .news-display-image img {
  display: flex;
  width: 150px;
  height: 100px;
  padding: 10px;
}
.news-news-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.your-news .news-display-title {
  font-size: 14px;
  width: 100%;
}

.news-display-title a {
  text-decoration: none;
  color: #2d3fb2;
}
.news-display-author {
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px;
}
.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Arimo", sans-serif;
  padding-top: 150px;
  padding-left: 20px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .holding-all-news {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .sign-in-page {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .your-feed {
    width: 100%;
  }

  .your-trips {
    width: 100%;
  }
  .news-api {
    width: 100%;
  }
  .title-of-feed-container h3 {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
    background-color: #7fb25b;
    color: black;
    margin-top: 20px;
    padding: 10px;
  }
  .holding-all-news {
    padding: 3px;
  }
}
