.blogform-banner {
  background-image: url("./hava.jpg");
  color: white;
  font-size: 45px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  padding: 20px;
  width: 100%;
  min-height: 250px;
}

.blogform-container {
  align-items: center;
}

.form form {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.dropzone {
  width: 200px;
}
