header {
  font-family: "Roboto", sans-serif;
  background: white;
  position: fixed;
  font-size: 20px;
  left: 0;
  right: 0;
  border: none;
  position: fixed;
  text-transform: uppercase;
  padding: 0px 50px;
}

header > div {
  /* padding: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div ul {
  display: flex;
  background: transparent;
}

header a {
  text-decoration: none;
}
header li {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  letter-spacing: 1px;
}

li:hover {
  color: #5169ff;
  cursor: pointer;
}
header button {
  display: none;
}

@media (max-width: 900px) {
  header button {
    background-color: #5169ff;
    font-size: 24px;
    position: absolute;
    right: 10px;
    /* padding: 0px 13px; */
    display: flex;
    top: 12px;
    /* display: none; */
    /* padding: 13px; */
    /* justify-content: center; */
    color: white;
    cursor: pointer;
    border: none;
  }
  header {
    background: #5169ff;
    font-size: 18px;
    text-transform: uppercase;
  }

  header div ul {
    background: #5169ff;
  }

  header ul {
    position: absolute;
    left: 0;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    /* padding: 20px 30px; */
    transition: padding-top 0.3s, padding-bottom 0.3s;
    /* transition: 0.3s; */
    /* makes the menu bar move down */
    z-index: 5;
    /* comes from under the header bar */
  }
  header li {
    margin: 10px 0;
    margin-left: 40px;
  }
  li:hover {
    color: white;
    cursor: pointer;
  }

  .show {
    transform: translate(0, 0);
  }

  .hide {
    transform: translate(0, -400px);
  }
}
