.product-detail-container {
  background-color: rgb(240, 240, 240);
  font-family: "Arimo", sans-serif;
  padding: 70px 80px 0px 80px;
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  /* height: 100vh; */
}
.links-shop {
  align-self: flex-start;
  font-size: 18px;
  padding-bottom: 15px;
}
.name-product {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  font-size: 18px;
  padding: 5px;
}
.description-product {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.price-product {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.picture-product img {
  width: 400px;
  margin: 0 auto;
}

.product-picture-in-slick {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
.product-and-quantity {
  margin: 5px auto;
}
.product-detail-container .description-product {
  /* align-items: center; */
  align-self: center;
  width: 70%;
}
.product-detail-container .quantity-product {
  display: flex;
  justify-content: center;
}
.quantity-product button {
  border: none;
  margin: 0 10px;
  background-color: rgb(240, 240, 240);
}

.add-to-cart-button {
  justify-content: center;
  width: 150px;
  height: 40px;
  border: 1px solid #2d3fb2;
  font-size: 12px;
  margin-top: 5px;
}
.bottom-buttons button {
  border: none;
  font-size: 20px;
  margin: 10px;
  background-color: rgb(240, 240, 240);
}

@media (max-width: 700px) {
  .product-detail-container .description-product {
    width: 100%;
  }
  .product-detail-container {
    padding: 20px 20px 0px 20px;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .picture-product img {
    width: 300px;
    margin: 0 auto;
  }
  .links-shop {
    font-size: 15px;
    padding-bottom: 15px;
    /* margin: 10px; */
  }
}
@media (max-width: 550px) {
  .picture-product img {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .picture-product img {
    width: 200px;
  }
}
