.profile-page {
  background-color: rgb(240, 240, 240);
  width: 100%;
}
.profile-banner {
  padding-top: 50px;
  background-image: url("./north.jpg");
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  width: 100%;
  min-height: 250px;
  color: white;
}
.profile-banner h2 {
  font-family: "Arimo", sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.profile-container {
  display: flex;
  font-family: "Arimo", sans-serif;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.huge-container {
  width: 90%;
}
.huge-container .greeting {
  display: flex;
  width: 100%;
  justify-content: center;
}
.greeting h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 5px auto;
}

.huge-container .profile-left-side {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 0 100px; */
}
.huge-container .profile-left-side .image-and-city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.image-and-city p {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 5px;
}

.image-and-city span {
  font-size: 22px;
  font-style: italic;
  margin: 8px 0 0 0;
}
.profile-left-side img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.profile-container .about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  /* padding: 10px 150px; */
}

.about-me span {
  /* padding: 10px auto; */
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.twitter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 0;
}

.huge-container .social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* width: 20%; */
  /* flex-direction: row; */
}
.social-media-icons img {
  width: 40px;
}
.instagram {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 2px;
}
span {
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.profile-right-side {
  border-top: 2px solid black;
  width: 100%;
  margin: 20px auto;
}
.latest-post h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.profile-right-side .all-posts-on-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.all-posts-on-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;

  margin: 10px;
}

.modal-form {
  font-family: "Arimo", sans-serif;
  position: fixed;
  background: white;
  border: 2px solid black;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 30px 20px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal-form span {
  font-weight: bold;
  font-size: 20px;
}
.modal-form input {
  font-size: 16px;
  color: rgb(56, 56, 56);
  height: 25px;
  width: 95%;
  border: 1px solid rgb(99, 99, 99);
  padding: 5px;
  margin: 5px auto;
}
.modal-form textarea {
  height: 100px;
  font-size: 16px;
  width: 95%;
  border: 1px solid rgb(99, 99, 99);
}

.cancel-button {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cancel-button button {
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  border-radius: 5%;
  border: 1px solid #7fb25b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
}

.create-edit {
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}
.create-edit button {
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #7fb25b;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.ab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
}
.his-quote {
  font-size: 13px;
  font-weight: bold;
}
.his-name {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
@media (max-width: 700px) {
  .profile-container .about-me {
    padding-left: 10px;
    padding-right: 10px;
  }
  .latest-post h2 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .latest-post h2 {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .latest-post h2 {
    font-size: 24px;
  }
}
