.profile-banner {
  background-image: url("./north.jpg");
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  padding: 20px;
  width: 100%;
  min-height: 250px;
  color: white;
  font-size: 45px;
}
.greeting {
  display: flex;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
}

.image-and-city {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  font-size: 20px;
}
.image-and-city h5 {
  margin: 0 5px;
}
.image-and-city img {
  height: 150px;
  width: 150px;
  border-radius: 30%;
}
.about-me {
  width: 100%;
  font-size: 18px;
}
button {
  border: none;
  font-size: 16px;
}
.modal {
  position: fixed;
  top: 0;
  width: 60%;
  padding: 10px;
}

.modal-form {
  position: fixed;
  background: rgba(56, 56, 56, 0.432);
  border: 2px solid black;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
