.profile-banner {
  background-image: url("./north.jpg");
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
  padding: 20px;
  width: 100%;
  min-height: 250px;
  color: white;
  font-size: 45px;
}

.profile-picture img {
  height: 150px;
  width: 150px;
  border-radius: 30%;
}

.modal {
  position: fixed;
  top: 0;
  width: 60%;
  padding: 10px;
}

.modal-form {
  position: fixed;
  background: rgba(56, 56, 56, 0.432);
  border: 2px solid black;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
